:root {
  --primary-color: #ffff;
  --second-color:#2F303A;
  --accent-color:#2196F3;
  --p-color:#757575;
  --back-color:#F5F5F5;
  --link-color:rgb(0, 0, 0);
  --title-color:#212121;
  --back-sec-color:#F5F4FA;
  --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
  --primary-logo-color:#000000;
}

p, h1, h2, h3, h4, .h5, h6 {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--back-color);
  font-size: 14px;
  background-color: var(--primary-color);
  text-decoration: none;
  font-weight: 400;
}

.page-header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.logo {
  text-decoration: none;
  color: var(--primary-logo-color);
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.logo__text {
  color: var(--accent-color);
}
.logo:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.17;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .page-header__nav {
    justify-content: flex-start;
  }
}

.menu-btn {
  display: inline-flex;
  margin: 0;
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  z-index: 2;
}
.menu-btn__close, .menu-btn__menu {
  fill: var(--title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-btn__menu:hover, .menu-btn :focus {
  fill: var(--accent-color);
}
.menu-btn__close:hover, .menu-btn :focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn .menu-btn__close {
  display: none;
}

.menu-btn.is-open .menu-btn__close {
  display: block;
}

.menu-btn.is-open .menu-btn__menu {
  display: none;
}

.menu-container {
  background-color: var(--primary-color);
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 1;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    padding: 0;
    align-items: center;
  }
}

.navigation, .contacts {
  width: 100%;
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
    padding-bottom: 0;
    margin-left: 88px;
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    margin-left: 93px;
    margin-right: 305px;
  }
}

.site-nav__item {
  margin-bottom: 32px;
}
.site-nav__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-bottom: 0;
    margin-right: 53px;
  }
  .site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  display: block;
  text-align: start;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current::after {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    display: block;
  }
}

.auth-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .auth-nav__list {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__list {
    flex-direction: row;
  }
}

.auth-nav__item {
  margin-bottom: 32px;
}
.auth-nav__item:last-child {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .auth-nav__item {
    margin-bottom: 0px;
    display: flex;
  }
  .auth-nav__item:last-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__item:last-child {
    margin-bottom: 0px;
  }
}

.auth-nav__link--tel {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .auth-nav__link--tel {
    color: var(--p-color);
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link--tel {
    margin-right: 40px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    letter-spacing: 0.02em;
    color: var(--p-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
  }
  .auth-nav__link--tel:hover, .auth-nav__link--tel:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.auth-nav__link--mail {
  text-decoration: none;
  color: var(--p-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .auth-nav__link--mail {
    color: var(--p-color);
    font-size: 12px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__link--mail {
    font-size: 14px;
    line-height: 1.14;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
  .auth-nav__link--mail:hover, .auth-nav__link--mail:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.auth-nav__icon {
  color: #757575;
}
@media screen and (max-width: 767px) {
  .auth-nav__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .auth-nav__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav__icon {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
  }
}

/* SOC-NAV */
.soc-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .soc-nav__list {
    display: none;
  }
}

.soc-nav__item {
  text-decoration: none;
  margin-right: 20px;
}
.soc-nav__item:last-child {
  margin-right: 0;
}

.soc-nav__link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-btn {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-color);
}
.main-btn:hover, .main-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .main-btn {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.hero-box {
  width: 696px;
}

.hero {
  background-color: var(--second-color);
  height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_tel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_tel-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_tablet.jpg");
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/bg_tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/background-2x.jpg");
  }
}

.hero__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}

.list {
  list-style: none;
}

.social-links:hover,
.social-links:focus {
  color: var(--accent-color);
}

.section-work_title {
  color: var(--primary-color);
}

.work-section {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.title-sec {
  text-align: center;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  justify-content: center;
  margin-bottom: 50px;
}
.title-sec .container {
  display: flex;
  padding-top: 0px;
}

.work-list li:not(:last-child) {
  margin-right: 30px;
}

.work-list {
  display: flex;
}
.work-list img {
  display: block;
  width: 100%;
  height: auto;
}
.work-list .work__item {
  position: relative;
}

.work__text {
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-div {
  padding: 30px 0;
  text-align: center;
}

.sec-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--back-sec-color);
  display: flex;
}
@media screen and (min-width: 1200px) {
  .sec-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-img {
  display: block;
  width: 100%;
  height: auto;
}

.team__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
    align-items: center;
    margin: -15px;
  }
}
.team__name {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team__position {
  display: block;
  text-align: center;
  margin-top: 0;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-bottom: 16px;
}

.member {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-color);
}
.member:nth-child(4n) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .member {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
  .member:nth-child(4n) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .member {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team-soc-list {
  justify-content: center;
}

.team-soc-items {
  width: 44px;
  height: 44px;
}
.team-soc-items:not(:last-child) {
  margin-right: 10px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.team-soc-link:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.team-soc-icons {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title-client {
  margin: 0;
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .title-client {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

.client-list__item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .client-list__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__item {
    width: calc((100% - 180px) / 6);
    margin: 15px;
  }
}

.client-link {
  width: 100%;
  height: 92px;
  padding: 0;
  justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.client-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 760px) {
  .client-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-section {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background-color: var(--second-color);
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .footer-logo {
    display: inline-block;
    margin-left: 0;
  }
}

.studio {
  color: var(--primary-color);
}

.address-nav__list > .address-nav__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address-nav__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-nav__list {
  width: 231px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address-nav__list {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .address-nav__list {
    margin: 0;
  }
}

.address-nav__item {
  margin-bottom: 9px;
  text-align: center;
}
.address-nav__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .address-nav__item {
    text-align: start;
  }
}

.socials {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-bottom: 0;
    margin-top: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-left: 70px;
    margin-bottom: 0;
    text-align: start;
  }
}

.join-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social__list {
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover {
  background-color: var(--accent-color);
}

.social__icon {
  fill: currentColor;
}

.sub-block {
  display: flex;
}

.port-filter__list {
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter-portfolio__btn {
  font-family: "Roboto", sans-serif;
  color: #F5F4FA;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0mm;
}
.filter-portfolio__btn:hover, .filter-portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.last {
  margin-right: 0;
}

.card__list {
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.card__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.product-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.card-item__link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.card-item__link:hover, .card-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-item__link:hover .overlay,
.card-item__link:focus .overlay {
  transform: translateY(0);
}

.card-item__link:hover,
.card-item__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__item:nth-child(3n) {
  margin-right: 0;
}

.card__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.product__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.product-descrip {
  border-bottom: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-right: 1px solid rgba(238, 238, 238, 0.9333333333);
  border-left: 1px solid rgba(238, 238, 238, 0.9333333333);
  padding: 20px 24px 20px 24px;
}

.product__text {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.list .link-current {
  color: var(--accent-color);
}

.sub-form__field {
  width: 100%;
  margin-left: auto;
}
.sub-form__field label {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .sub-form__field label {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .sub-form__field {
    display: flex;
    flex-direction: column;
    width: 358px;
  }
}

.sub-form__input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-color);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 0;
  color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .sub-form__input {
    margin-bottom: 0;
  }
}

.sub-form__input::-moz-placeholder {
  width: 47px;
  height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__input:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__input::placeholder {
  width: 47px;
  height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition-timing-function: var(--timing-function);
  transition: 250ms;
}
.sub-form__btn:focus, .sub-form__btn:hover {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .sub-form__btn {
    margin-left: 12px;
  }
}

@media screen and (min-width: 768px) {
  .sub-form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .sub-form {
    flex-direction: row;
    width: 570px;
    margin-left: 93px;
    margin-right: 0;
    align-items: flex-end;
  }
}

.sub-form__icon {
  margin-left: 10px;
}

.area-and-btn {
  margin-top: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  padding: 93px 15px 94px 15px;
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding: 208px 159px 207px 159px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal .btn-closed {
  position: absolute;
  top: 101px;
  right: 23px;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 480px) {
  .modal .btn-closed {
    top: 8px;
    right: 8px;
  }
}

.btn-closed {
  width: 18px;
  height: 18px;
  fill: var(--primary-logo-color);
  transition-timing-function: var(--timing-function);
  transition-property: color;
  transition: 250ms;
}
.btn-closed:hover, .btn-closed:focus {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form-item__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  transition-timing-function: var(--timing-function);
  transition-property: color;
  transition: 250ms;
}
.form-item__input:focus, .form-item__input:hover {
  border-color: var(--accent-color);
  outline: transparent;
}
.form-item__input:focus:focus + svg, .form-item__input:focus:hover + svg, .form-item__input:hover:focus + svg, .form-item__input:hover:hover + svg {
  fill: var(--accent-color);
}

.form-item__input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-item__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-item__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-item_title {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: var(--p-color);
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .form-item_title {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .form-item_title {
    display: block;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field label {
  margin-bottom: 4px;
}

.modal {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.form-item__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms;
}

.modal-input-wrapper {
  position: relative;
}

.modal-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .modal-link {
    margin-top: 10px;
  }
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  transition-timing-function: var(--timing-function);
  transition-property: color;
  transition: 250ms;
  resize: none;
}
.modal-text:hover, .modal-text:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.checkbox-text {
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: var(--p-color);
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
  }
}
@media screen and (max-width: 479px) {
  .checkbox-text {
    display: block;
  }
}

.checkbox-input {
  position: static;
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  padding: 0;
}

.form-modal__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  border-radius: 4px;
  padding: 10px 52px 10px 52px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  justify-content: center;
  margin-top: 30px;
}
.form-modal__btn:hover, .form-modal__btn:focus {
  background-color: #188ce8;
}

.text-area::-moz-placeholder {
  text-align: left;
}

.text-area:-ms-input-placeholder {
  text-align: left;
}

.text-area::placeholder {
  text-align: left;
}

.checkbox {
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
}

.main-btn, .work__text, .team-soc-list, .team-soc-link, .client-link, .social__list, .social__link, .port-filter__list, .filter-portfolio__btn, .card__list, .sub-form__btn, .modal .btn-closed, .form-item_title, .form-modal__btn, .checkbox {
  display: flex;
  align-items: center;
}

.sec-feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .sec-feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .feature__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .feature__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.feature-list__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .feature-list__title {
    text-align: start;
  }
}

.feature-list__descrip {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--p-color);
  max-width: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.list-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--back-sec-color);
}

/*-----HEADER-----*/
/*-----MAIN-----*/
/*TEAM-SECTION*/
/*CLIENTS*/
/*-----FOOTER-----*/
/*SOC-LIST-TEAM*/
/*-----portfolio-----*/
/*CARDS*/
/*SUB-BLOCK*/
/* BACKDROP *//*# sourceMappingURL=main.css.map */