:root {
    --primary-color: #ffff;
    --second-color:#2F303A;
    --accent-color:#2196F3;
    --p-color:#757575;
    --back-color:#F5F5F5;
    --link-color:rgb(0, 0, 0);
    --title-color:#212121;
    --back-sec-color:#F5F4FA;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --primary-logo-color:#000000;
}  

html{
    box-sizing: border-box;
}


*,
*::before,
*::after {
   box-sizing: inherit;
}

body{
    font-family: "Roboto", sans-serif  ;
    color: var(--back-color);
    font-size: 14px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
}


p,h1,h2,h3,h4,.h5,h6 {
    margin: 0;
    padding: 0;
}

ul,ol {
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}





.container{
    width: 1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
    
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.link{
    text-decoration: none   ;
    display: inline-block;
    margin: 0;
    padding: 0;
}
  
/*-----HEADER-----*/

.header .container{
display: flex;
align-items: center;
}


.header{
    border-bottom: 1px solid #ECECEC;
}

.header-logo{
    
    display: block;
    margin-right: 95px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
   font-weight: 700;
font-size: 26px;
line-height: 1.2;
color:var(--link-color)

}
.logo{
    color: var(--accent-color);
}

.header-link{
    
    
    align-items: center;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
cursor: pointer;
color: var(--link-color)

}

.header-list {
    display:flex;
    align-items: center;
    gap: 50px;
}

.header-list:not(:last-child){
    margin-left: 50px;  
}



.header-list .link-current{
    color: var(--accent-color);
}

.list:active {
    color: var(--accent-color);
}


.header-list .link:hover,
.header-list .link:focus{
    color: var(--accent-color);
}

.header-list .link.current{
    position: relative;
    color: var(--accent-color);
}

.header-list .link.current::after{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
 width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: var(--accent-color);
}


.header-link:hover,
.header-link:focus{
    color: var(--accent-color)
}

.header-mail{
    transition-property: color,fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
color: var(--p-color)

}

.header-tel{
    transition-property: color,fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    letter-spacing: 0.02em;
 color: var(--p-color); 
font-weight: 500;
font-size: 14px;
line-height: 1.1;
}

.contact {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}



.nav{
    display: flex;
    align-items: center;
}

.icon-nav{
    margin-right: 10px;
    
}

.social-links{
    color: var(--p-color);
}

.icon-nav{
    fill: currentColor;
}

.icon-nav:hover{
    color: var(--accent-color);
}

.header-list .link{
    display: block;
padding-top: 32px; 
padding-bottom: 32px;   

text-decoration: none;
color:var(--title-color);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
}




/*-----MAIN-----*/

.hero-box{
    width: 696px;
   
}

.hero{
    
    background-color: var(--second-color);
height: 600px;
padding-top: 200px;
padding-bottom: 200px;
 background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/background.jpg');
background-repeat: no-repeat;
background-size: cover;
 background-position: center;
 max-width: 1600px;
 margin-right: auto;
 margin-left: auto;
 
}

.sub-title{
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
 max-width: 696px;
 margin-left: auto;
 margin-right: auto;
}
    



.list{
    list-style: none;
 
}

.list-sec li:not(:last-child){
    margin-right:30px;  
}
    
.list-sec{
    display: flex;
    
    
}



.social-links:hover,
.social-links:focus {
    color:var(--accent-color)
}
 

.block-list{
    display: flex;
    justify-content: center;
    align-items: center;  
}


.block-items{
    display: flex;
    justify-content: center;
    align-items: center;
width: 270px;
height: 120px;
background-color: var(--back-sec-color)

}

.block-items:not(:last-child){
    margin-right: 30px;
}

.titles{
    display: flex;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-color);
margin-bottom: 10px;
margin-top: 30px;
}

.descrip{
    display: flex;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color:var(--p-color);
max-width: 270px;
}

.main-btn{
    display: flex;
   align-items: center;
   padding: 10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   min-width: 216px;
   height: 50px;
   margin-left: auto;
   margin-right: auto;

background-color: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: var(--timing-function);
   border-radius: 4px;
   border-color: transparent;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   color: var(--primary-color)
}

.main-btn:hover,
.main-btn:focus {
  
   background-color: #188ce8;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



.hero-cont{
    padding-top: 0;
    
}


.title-sec {
text-align: center;
color:var(--title-color); 
 font-weight: 700;
font-size: 36px;
line-height: 1.1;
justify-content: center;
margin-bottom: 50px;

}

.title-sec .container{
    display: flex;
 padding-top: 0px;
 
}



.images li:not(:last-child){
   margin-right: 30px;
   
}
   
.images {
    display: flex;
    
}

.images img{
    display: block;
    width: 100%;
    height: auto;
}

.images .item{
    position: relative;
    
}


.label{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width:370px;
    height: 70px;
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}



.team-div{
    padding-top: 30px;
    padding-bottom: 30px;
}


.sec-team{
    background-color: var(--back-sec-color);
    display: flex;
}

.team{
    
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--title-color);
text-align: center;
margin-bottom: 50px;
}



.team-list{
    display: flex;
}



.team-name{
    
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--title-color);
}

.team-position{
    

font-size: 16px;
line-height: 1.1;
letter-spacing: 0.03em;
color: var(--p-color);
 margin-bottom: 16px;
}

.member{
    flex-basis: calc(100% / 4 - 30px);
width: 270px;

text-align: center;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   background-color:var(--primary-color);
}

.team-list > .item:not(:last-child) {
    margin-right: 30px;
 }



.team-soc-list{
display: flex;
justify-content: center;
align-items: center;
}

.team-soc-items{
    width: 44px;
    height: 44px;
}

.team-soc-items:not(:last-child){
    margin-right: 10px;
}

.team-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.team-soc-link:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}
    
 .team-soc-icons{
    fill: currentColor;
 }

.title-client{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}


.clients-list{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.client-items{
    width: 170px;
    height: 92px;
} 



.client-items:not(:last-child){
    margin-right: 30px;
}

.client-link{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.client-link:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
    
.company-icons{
    fill: currentColor;
}

/*-----FOOTER-----*/

.footer-section{
    display: flex;
    align-items: baseline;
}


.footer{
    background-color:var(--second-color);
}

.footer-logo{
    display: inline-block;
    margin-bottom: 20px;
   font-family:'Raleway', sans-serif;
   font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--accent-color); 

}

.studio{
    color: var(--primary-color);
}

.address-list > .item:not(:last-child) {
    margin-bottom: 9px;
 }



.footer-adress{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-links{
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;  
}
 

.join{
    margin-left: 70px;
}

.join-title{
    font-style: normal;
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

}

.footer-soc-list{
    display: flex;
    align-items: center;
}

.footer-soc-items:not(:last-child){
    margin-right: 10px;
}

.footer-soc-items{
    width: 44px;
    height: 44px;
    
}

.footer-soc-link{
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
   
}

.footer-soc-icons{
    fill: currentColor;
    
}

.footer-soc-link:hover{
    background-color: var(--accent-color);
}


/*-----portfolio-----*/





.btn-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}



.btn-portfolio{
    font-family: 'Roboto', sans-serif;
color: #F5F4FA;
cursor: pointer;
font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;

    border-radius: 4px;
    
    border: 0mm;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background-color: var(--accent-color);
    color: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.last{
    margin-right: 0;
}






.cards {
    display: flex;
    flex-wrap: wrap;
   
}

.card{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
}


.cards{
    position: relative;
    overflow: hidden;
}

.product-thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-color);
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.card-link:hover .overlay,
.card-link:focus .overlay{
    transform: translateY(0);
}

.card-link{
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}

.card:nth-child(3n){
margin-right: 0;
}

.card:nth-last-child(-n + 3){
    margin-bottom: 0;
}


.card-link:hover,
.card-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
}


.title-port{
   
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}

.title-card{
    border-bottom: 1px solid #EEEE;
    border-right: 1px solid #EEEE;
    border-left: 1px solid #EEEE;
    padding: 20px 24px 20px 24px ;
      
}
  
   

.descrip-port{
    
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: #757575;

}
    
.list .link-current{
    color: var(--accent-color);
}

/* BACKDROP */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);;
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.modal{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      
}

.modal .modal-btn{

    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);;
}

.modal-btn{
    width: 18px;
    height: 18px;
    fill: var(--primary-logo-color);
}

.modal-heading{

font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color);
margin-top: 40px;
}

.modal-input{
  width: 100%;  
  height: 40px;
  border: 1px solid rgba(33, 33, 33, .02);
  padding-left: 10px;
  margin-bottom: 10px;

}

.modal-input::placeholder{
color: rgba(117, 117, 117, 0.5);
}