.card__list {
    @extend %flex-align;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.card__item{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    
}




.product-thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-color);
    background-color:rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}


.card-item__link{
    display: block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    &:hover,
        &:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}

.card-item__link:hover .overlay,
.card-item__link:focus .overlay{
    transform: translateY(0);
}
        .card-item__link:hover,
        .card-item__link:focus{
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    



.card__item:nth-child(3n){
margin-right: 0;
}

.card__item:nth-last-child(-n + 3){
    margin-bottom: 0;
}





.product__title{
   
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
margin-bottom: 4px;
}

.product-descrip{
    border-bottom: 1px solid #EEEE;
    border-right: 1px solid #EEEE;
    border-left: 1px solid #EEEE;
    padding: 20px 24px 20px 24px ;
      
}
  
   

.product__text{
    
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: #757575;

}
    
.list .link-current{
    color: var(--accent-color);
}