.main-btn{
    display: flex;
   align-items: center;
   padding: 10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   min-width: 216px;
   height: 50px;
   margin-left: auto;
   margin-right: auto;

  background-color: var(--accent-color);
  transition-duration: 250ms;
 transition-timing-function: var(--timing-function);
   border-radius: 4px;
   border-color: transparent;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
   color: var(--primary-color);
   &:hover,
   &:focus {
      background-color: #188ce8;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }

}

