.socials{
    margin-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 768px) {
       margin-bottom: 0;
       margin-top: 5px;
      }
      @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-bottom: 0;
        text-align: start;
       }
}

.join-title{
    font-style: normal;
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

}

.social__list{
   @extend %flex-align;
   justify-content: center;
}



.social__item{
     width: 44px;
     height: 44px;
     &:not(:last-child){
        margin-right: 10px;
    } 
}

.social__link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    justify-content: center;
    @extend %flex-align;
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.1);
     &:hover{
        background-color: var(--accent-color);
    }
}

.social__icon{
    fill: currentColor;
    
}



.sub-block{
    display: flex;
}
