html{
    box-sizing: border-box;
}


*,
*::before,
*::after {
   box-sizing: inherit;
}


.link{
    text-decoration: none   ;
    display: inline-block;
    margin: 0;
    padding: 0;
}

// img{
//     display: block;
//     max-width: 100%;
//     height: auto;
// }

body{
    font-family: "Roboto", sans-serif  ;
    color: var(--back-color);
    font-size: 14px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-weight: 400;
}

