@mixin transition(){
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
}


@mixin retina{
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  @content;
}
}


