:root {
    --primary-color: #ffff;
    --second-color:#2F303A;
    --accent-color:#2196F3;
    --p-color:#757575;
    --back-color:#F5F5F5;
    --link-color:rgb(0, 0, 0);
    --title-color:#212121;
    --back-sec-color:#F5F4FA;
    --timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    --primary-logo-color:#000000;
}  