.title-client{
    color: var(--title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}


.clients__list{
    justify-content: center;
    @extend %flex-align;
   
}

.client-list__item{
    width: 170px;
    height: 92px;
    &:not(:last-child) {
        margin-right: 30px;
    }
} 





.client-link{
    @extend %flex-align;
    width: 100%;
    height: 100%;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    &:hover {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}


    
.client__icon{
    fill: currentColor;
}