.page-header {
    border-bottom: 1px solid #ececec ;
    position: relative;
    }
      
    .logo {
        text-decoration: none;
        color: var(--primary-logo-color);
        font-family: "Raleway", "sans-serif";
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        @include transition();
      
        &__text {
            color: var(--accent-color);
             }
             &:hover {
                color: var(--accent-color);
                }  
                @media screen and (min-width: 1200px) {
                    font-size: 26px;
                    line-height: 1.17;
                   }       
        }     
   


    .page-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media screen and (min-width: 768px){
    justify-content: flex-start;
    }
    }
      
    .menu-btn{
    display: inline-flex;
    margin: 0;
    padding: 12px 8px;
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 2;
    &__close,
    &__menu{
    fill: var(--title-color);
    @include transition();
    } 
    &__menu:hover, :focus{
    fill: var(--accent-color);
    }
    &__close:hover, :focus{
    fill: var(--accent-color);
    }
           
    @media screen and (min-width: 768px) {
    display: none;
    } 
    }
        
    
    .menu-btn .menu-btn__close{
    display: none;
    }
    .menu-btn.is-open .menu-btn__close{
    display: block;
    }
    .menu-btn.is-open .menu-btn__menu{
    display: none;
    }
        
    .menu-container{
        background-color: var(--primary-color);
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px; 
        @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &.is-open{
        display: block;
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        z-index: 1;
        }
        } 
        @media screen and (min-width: 768px) {
        display: flex;
        padding: 0;
        align-items: center;
        }     
        }
    
    .navigation, .contacts{
    
    width: 100%;
    }
    
    
       
        
    .site-nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
    // padding-bottom: 306px;
    @media screen and (min-width: 768px) {
    display: flex;
    padding-bottom: 0;
    margin-left: 88px;
    margin-right: 90px;
    } 
    @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-right: 305px;
    }  
    }  
        
    .site-nav__item{
    margin-bottom: 32px;
    &:last-child{
    margin-bottom: 0;
    }
    @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 53px;
    &:last-child{
    margin-right: 0;
    }
    } 
    }
    
    .site-nav__link {
    display: block;
    text-align: start; 
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--title-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    @include transition();
    &:hover, 
    &:focus {
    color: var(--accent-color);
    }
    &--current{
    color: var(--accent-color); 
    }
    &--current {
    position: relative;
    color: var(--accent-color);
    }
    @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px; 
    padding-bottom: 32px;
    }
    }
        
    .site-nav__link--current::after{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    @media screen and (min-width: 768px){
    display: block;
    }
    }
    
       
    .auth-nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
    
    @media screen and (min-width: 768px){
    display: flex;
    flex-direction: column-reverse; 
    }
    @media screen and (min-width: 1200px){
    flex-direction: row;
    }
    }
    
    
    .auth-nav__item{
    margin-bottom: 32px;
    &:last-child{
    margin-bottom: 64px;
    }
     @media screen and (min-width: 768px){
    margin-bottom: 0px;
    display: flex;
    &:last-child{
    margin-bottom: 10px;
    }   
    }
    @media screen and (min-width: 1200px){
    &:last-child{
    margin-bottom: 0px;
    }    
    }
    }
        
        .auth-nav__link--tel{
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        @media screen and (min-width: 768px){
        color: var(--p-color);
        font-size: 12px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        }
        @media screen and (min-width: 1200px){
            margin-right: 40px;
            transition-property: color,fill;
         transition-duration: 250ms;
         transition-timing-function: var(--timing-function);
          letter-spacing: 0.02em;
          color: var(--p-color); 
          font-weight: 500;
           font-size: 14px;
          line-height: 1.1;
          &:hover,
          &:focus {
           color: var(--accent-color);
           fill: var(--accent-color);
        }}
        }
        .auth-nav__link--mail{
        text-decoration: none;
        color: var(--p-color);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        @media screen and (min-width: 768px){
        color: var(--p-color);
        font-size: 12px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        }
        @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.14;
        
        transition-property: color,fill;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function);
        &:hover,
        &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
        }}
        }
    
        .auth-nav__icon{
            color: #757575;
        @media screen and (max-width: 767px) {
        display: none;
        } 
        @media screen and (min-width: 768px) {
        margin-right: 8px;
        } 
        @media screen and (min-width: 1200px){   
        
            @include transition();
        
        }
        }
       /* SOC-NAV */
        .soc-nav__list {
            list-style: none;
            padding: 0;
            margin: 0;
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 768px) {
        display: none;
        } 
        }
        .soc-nav__item{
        text-decoration: none;
        margin-right: 20px;
        &:last-child{
        margin-right: 0;
        }
        }
        .soc-nav__link{
        text-decoration: none;
        color: var(--accent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        }