.hero-box{
    width: 696px;
   
}

.hero{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--second-color);
 
 padding-top: 118px;
 padding-bottom: 118px;
 background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/bg_tel.jpg');

 
 @include retina{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/bg_tel-2x.jpg');
}
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 max-width: 1600px;
 margin-right: auto;
 margin-left: auto;
  @media screen and (min-width:768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/bg_tablet.jpg');
    @include retina{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/bg_tablet-2x.jpg');
    }
    padding-top: 118px;
  padding-bottom: 118px;
   min-width: 768px;
        height: 400px;
  }
  @media screen and (min-width:1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/background.jpg');
    @include retina{
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../img/background-2x.jpg');
    }
    padding-top: 200px;
     padding-bottom: 200px;
     max-width: 1600px;
     height: 600px;
  }
}


.hero__title{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color:var(--primary-color);;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    @media screen and (min-width:768px) {
        width: 360px;
    }
    @media screen and(min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
    
}
    
 
 




.list{
    list-style: none;
 
}


    




.social-links:hover,
.social-links:focus {
    color:var(--accent-color)
}
 





.section-work_title{
    color: var(--primary-color);
}



.work-section{
    padding-top: 0;
    @media screen and (max-width: 1199px) {
        display: none;
        } 
}


.title-sec {
text-align: center;
color:var(--title-color); 
 font-weight: 700;
font-size: 36px;
line-height: 1.1;
justify-content: center;
margin-bottom: 50px;
 & .container{
    display: flex;
 padding-top: 0px;
 
}
}





.work-list li:not(:last-child){
   margin-right: 30px;
   
}
   
.work-list {
    display: flex;
    & img{
        display: block;
        width: 100%;
        height: auto;
    }
    & .work__item{
        position: relative;
        
    }
}






.work__text{
    @extend %flex-align;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width:370px;
    height: 70px;
    margin: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-color);
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}